---
layout: default
robots: noindex
---

<!--<div class="main-post-list">-->

  <ul class="timeline">
    
    {% for project in site.data.projects %}

      <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="img-me" src="{{ project.img | prepend: site.baseurl }}" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4><a href="https://github.com/{{ project.gh_user }}/{{ project.repo }}" target="_blank">{{ project.name }}</a></h4>
          </div>
          <div class="timeline-body">
            {% if project.desc %}
              {{ project.desc | markdownify }}
            {% else %}
            <div repotext="{{ project.repo }}">
              <span class="desc"></div>
            </div>
            {% endif %}
            <div user="{{ project.gh_user }}" repo="{{ project.repo }}" class="ghbtn" style="margin-top: 10px;">
              <a target="_blank" href="https://github.com/{{ project.gh_user }}/{{ project.repo }}/stargazers"><i class="fa fa-star"></i><span class="star"> ...</span></a>&emsp;&emsp;
              <a target="_blank" href="https://github.com/{{ project.gh_user }}/{{ project.repo }}/network"><i class="fa fa-code-fork"></i><span class="fork"> ...</span></a>&emsp;&emsp;
              <a target="_blank" href="https://github.com/{{ project.gh_user }}/{{ project.repo }}/watchers"><i class="far fa-eye"></i><span class="watchers"> ...</span></a>
              <div style="height: 10px;"></div>
          </div>
        </div>
      </li>
    {% endfor %}
    <!--
    <li class="timeline-inverted">
      <div class="timeline-image">
        <img class="user-image" src="{{site.baseurl}}{{ site.timeline-img }}" alt="">
      </div>
    </li> -->
  </ul>
  
  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Music Player</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="player-container">
        <audio id="audioPlayer" autoplay>
            <source src="assets/music.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        
        <div class="controls">
            <button id="playPauseBtn">Play</button>
            <input type="range" id="progress" value="0">
            <span id="time">0:00 / 0:00</span>
            <input type="range" id="volume" min="0" max="1" step="0.1" value="1">
            <span id="volumeLabel">Volume</span>
        </div>
    </div>

    <script src="js/player.js"></script>
</body>
</html>

<!--</div>-->

